<div id="header">
  <p>
    @Html.ActionLink("Home", "Index", "Home")@Html.ActionLink("Treats", "Index", "Treats")@Html.ActionLink("Flavors", "Index", "Flavors")@Html.ActionLink("Log-in/out", "Index", "Account")
  </p>
</div>