@{
  Layout = "_Layout";
}

<h1>Flavors for @User.Identity.Name</h1>

<ul>
  @foreach(var Flavor in ViewBag.Flavors)
  {
    <li>@Html.ActionLink($"{Flavor.Name}", "Details", "Flavors", new { id = Flavor.FlavorId })</li>
  }
</ul>

<p>@Html.ActionLink("Add new flavor", "Create")</p>

<p>@Html.ActionLink("Home", "Index", "Home")</p>